@font-face {font-family: "FontAwesome";src: url("../fonts/fontawesome-webfont.eot");src: url("../fonts/fontawesome-webfont.eot?#iefix") format("eot"),url("../fonts/fontawesome-webfont.woff") format("woff"),url("../fonts/fontawesome-webfont.ttf") format("truetype"),url("../fonts/fontawesome-webfont.otf") format("opentype"),url("../fonts/fontawesome-webfont.svg#FontAwesome") format("svg");font-weight: normal;font-style: normal;}
[class^="wpex-icon-"]:before, [class*=" wpex-icon-"]:before {font-family: FontAwesome;font-weight: normal;font-style: normal;display: inline-block;text-decoration: inherit;}
a [class^="wpex-icon-"], a [class*=" wpex-icon-"] {display: inline-block;text-decoration: inherit;}
.wpex-icon-large:before {vertical-align: middle;font-size: 4/3em;}
.btn [class^="wpex-icon-"], .btn [class*=" wpex-icon-"], .nav-tabs [class^="wpex-icon-"], .nav-tabs [class*=" wpex-icon-"] {line-height: .9em;}
li [class^="wpex-icon-"], li [class*=" wpex-icon-"] {display: inline-block;width: 1.25em;text-align: center;}
li .wpex-icon-large:before, li .wpex-icon-large:before {width: 1.875em;}
ul.icons {list-style-type: none;margin-left: 2em;text-indent: -.8em;}
ul.icons li [class^="wpex-icon-"], ul.icons li [class*=" wpex-icon-"] {width: .8em;}
ul.icons li .wpex-icon-large:before, ul.icons li .wpex-icon-large:before {vertical-align: initial;}
.wpex-icon-glass:before {content: "";}
.wpex-icon-music:before {content: "";}
.wpex-icon-search:before {content: "";}
.wpex-icon-envelope:before {content: "";}
.wpex-icon-heart:before {content: "";}
.wpex-icon-star:before {content: "";}
.wpex-icon-star-empty:before {content: "";}
.wpex-icon-user:before {content: "";}
.wpex-icon-film:before {content: "";}
.wpex-icon-th-large:before {content: "";}
.wpex-icon-th:before {content: "";}
.wpex-icon-th-list:before {content: "";}
.wpex-icon-ok:before {content: "";}
.wpex-icon-remove:before {content: "";}
.wpex-icon-zoom-in:before {content: "";}
.wpex-icon-zoom-out:before {content: "";}
.wpex-icon-off:before {content: "";}
.wpex-icon-signal:before {content: "";}
.wpex-icon-cog:before {content: "";}
.wpex-icon-trash:before {content: "";}
.wpex-icon-home:before {content: "";}
.wpex-icon-file:before {content: "";}
.wpex-icon-time:before {content: "";}
.wpex-icon-road:before {content: "";}
.wpex-icon-download-alt:before {content: "";}
.wpex-icon-download:before {content: "";}
.wpex-icon-upload:before {content: "";}
.wpex-icon-inbox:before {content: "";}
.wpex-icon-play-circle:before {content: "";}
.wpex-icon-repeat:before {content: "";}
.wpex-icon-refresh:before {content: "";}
.wpex-icon-list-alt:before {content: "";}
.wpex-icon-lock:before {content: "";}
.wpex-icon-flag:before {content: "";}
.wpex-icon-headphones:before {content: "";}
.wpex-icon-volume-off:before {content: "";}
.wpex-icon-volume-down:before {content: "";}
.wpex-icon-volume-up:before {content: "";}
.wpex-icon-qrcode:before {content: "";}
.wpex-icon-barcode:before {content: "";}
.wpex-icon-tag:before {content: "";}
.wpex-icon-tags:before {content: "";}
.wpex-icon-book:before {content: "";}
.wpex-icon-bookmark:before {content: "";}
.wpex-icon-print:before {content: "";}
.wpex-icon-camera:before {content: "";}
.wpex-icon-font:before {content: "";}
.wpex-icon-bold:before {content: "";}
.wpex-icon-italic:before {content: "";}
.wpex-icon-text-height:before {content: "";}
.wpex-icon-text-width:before {content: "";}
.wpex-icon-align-left:before {content: "";}
.wpex-icon-align-center:before {content: "";}
.wpex-icon-align-right:before {content: "";}
.wpex-icon-align-justify:before {content: "";}
.wpex-icon-list:before {content: "";}
.wpex-icon-indent-left:before {content: "";}
.wpex-icon-indent-right:before {content: "";}
.wpex-icon-facetime-video:before {content: "";}
.wpex-icon-picture:before {content: "";}
.wpex-icon-pencil:before {content: "";}
.wpex-icon-map-marker:before {content: "";}
.wpex-icon-adjust:before {content: "";}
.wpex-icon-tint:before {content: "";}
.wpex-icon-edit:before {content: "";}
.wpex-icon-share:before {content: "";}
.wpex-icon-check:before {content: "";}
.wpex-icon-move:before {content: "";}
.wpex-icon-step-backward:before {content: "";}
.wpex-icon-fast-backward:before {content: "";}
.wpex-icon-backward:before {content: "";}
.wpex-icon-play:before {content: "";}
.wpex-icon-pause:before {content: "";}
.wpex-icon-stop:before {content: "";}
.wpex-icon-forward:before {content: "";}
.wpex-icon-fast-forward:before {content: "";}
.wpex-icon-step-forward:before {content: "";}
.wpex-icon-eject:before {content: "";}
.wpex-icon-chevron-left:before {content: "";}
.wpex-icon-chevron-right:before {content: "";}
.wpex-icon-plus-sign:before {content: "";}
.wpex-icon-minus-sign:before {content: "";}
.wpex-icon-remove-sign:before {content: "";}
.wpex-icon-ok-sign:before {content: "";}
.wpex-icon-question-sign:before {content: "";}
.wpex-icon-info-sign:before {content: "";}
.wpex-icon-screenshot:before {content: "";}
.wpex-icon-remove-circle:before {content: "";}
.wpex-icon-ok-circle:before {content: "";}
.wpex-icon-ban-circle:before {content: "";}
.wpex-icon-arrow-left:before {content: "";}
.wpex-icon-arrow-right:before {content: "";}
.wpex-icon-arrow-up:before {content: "";}
.wpex-icon-arrow-down:before {content: "";}
.wpex-icon-share-alt:before {content: "";}
.wpex-icon-resize-full:before {content: "";}
.wpex-icon-resize-small:before {content: "";}
.wpex-icon-plus:before {content: "";}
.wpex-icon-minus:before {content: "";}
.wpex-icon-asterisk:before {content: "";}
.wpex-icon-exclamation-sign:before {content: "";}
.wpex-icon-gift:before {content: "";}
.wpex-icon-leaf:before {content: "";}
.wpex-icon-fire:before {content: "";}
.wpex-icon-eye-open:before {content: "";}
.wpex-icon-eye-close:before {content: "";}
.wpex-icon-warning-sign:before {content: "";}
.wpex-icon-plane:before {content: "";}
.wpex-icon-calendar:before {content: "";}
.wpex-icon-random:before {content: "";}
.wpex-icon-comment:before {content: "";}
.wpex-icon-magnet:before {content: "";}
.wpex-icon-chevron-up:before {content: "";}
.wpex-icon-chevron-down:before {content: "";}
.wpex-icon-retweet:before {content: "";}
.wpex-icon-shopping-cart:before {content: "";}
.wpex-icon-folder-close:before {content: "";}
.wpex-icon-folder-open:before {content: "";}
.wpex-icon-resize-vertical:before {content: "";}
.wpex-icon-resize-horizontal:before {content: "";}
.wpex-icon-bar-chart:before {content: "";}
.wpex-icon-twitter-sign:before {content: "";}
.wpex-icon-facebook-sign:before {content: "";}
.wpex-icon-camera-retro:before {content: "";}
.wpex-icon-key:before {content: "";}
.wpex-icon-cogs:before {content: "";}
.wpex-icon-comments:before {content: "";}
.wpex-icon-thumbs-up:before {content: "";}
.wpex-icon-thumbs-down:before {content: "";}
.wpex-icon-star-half:before {content: "";}
.wpex-icon-heart-empty:before {content: "";}
.wpex-icon-signout:before {content: "";}
.wpex-icon-linkedin-sign:before {content: "";}
.wpex-icon-pushpin:before {content: "";}
.wpex-icon-external-link:before {content: "";}
.wpex-icon-signin:before {content: "";}
.wpex-icon-trophy:before {content: "";}
.wpex-icon-github-sign:before {content: "";}
.wpex-icon-upload-alt:before {content: "";}
.wpex-icon-lemon:before {content: "";}
.wpex-icon-phone:before {content: "";}
.wpex-icon-check-empty:before {content: "";}
.wpex-icon-bookmark-empty:before {content: "";}
.wpex-icon-phone-sign:before {content: "";}
.wpex-icon-twitter:before {content: "";}
.wpex-icon-facebook:before {content: "";}
.wpex-icon-github:before {content: "";}
.wpex-icon-unlock:before {content: "";}
.wpex-icon-credit-card:before {content: "";}
.wpex-icon-rss:before {content: "";}
.wpex-icon-hdd:before {content: "";}
.wpex-icon-bullhorn:before {content: "";}
.wpex-icon-bell:before {content: "";}
.wpex-icon-certificate:before {content: "";}
.wpex-icon-hand-right:before {content: "";}
.wpex-icon-hand-left:before {content: "";}
.wpex-icon-hand-up:before {content: "";}
.wpex-icon-hand-down:before {content: "";}
.wpex-icon-circle-arrow-left:before {content: "";}
.wpex-icon-circle-arrow-right:before {content: "";}
.wpex-icon-circle-arrow-up:before {content: "";}
.wpex-icon-circle-arrow-down:before {content: "";}
.wpex-icon-globe:before {content: "";}
.wpex-icon-wrench:before {content: "";}
.wpex-icon-tasks:before {content: "";}
.wpex-icon-filter:before {content: "";}
.wpex-icon-briefcase:before {content: "";}
.wpex-icon-fullscreen:before {content: "";}
.wpex-icon-group:before {content: "";}
.wpex-icon-link:before {content: "";}
.wpex-icon-cloud:before {content: "";}
.wpex-icon-beaker:before {content: "";}
.wpex-icon-cut:before {content: "";}
.wpex-icon-copy:before {content: "";}
.wpex-icon-paper-clip:before {content: "";}
.wpex-icon-save:before {content: "";}
.wpex-icon-sign-blank:before {content: "";}
.wpex-icon-reorder:before {content: "";}
.wpex-icon-list-ul:before {content: "";}
.wpex-icon-list-ol:before {content: "";}
.wpex-icon-strikethrough:before {content: "";}
.wpex-icon-underline:before {content: "";}
.wpex-icon-table:before {content: "";}
.wpex-icon-magic:before {content: "";}
.wpex-icon-truck:before {content: "";}
.wpex-icon-pinterest:before {content: "";}
.wpex-icon-pinterest-sign:before {content: "";}
.wpex-icon-google-plus-sign:before {content: "";}
.wpex-icon-google-plus:before {content: "";}
.wpex-icon-money:before {content: "";}
.wpex-icon-caret-down:before {content: "";}
.wpex-icon-caret-up:before {content: "";}
.wpex-icon-caret-left:before {content: "";}
.wpex-icon-caret-right:before {content: "";}
.wpex-icon-columns:before {content: "";}
.wpex-icon-sort:before {content: "";}
.wpex-icon-sort-down:before {content: "";}
.wpex-icon-sort-up:before {content: "";}
.wpex-icon-envelope-alt:before {content: "";}
.wpex-icon-linkedin:before {content: "";}
.wpex-icon-undo:before {content: "";}
.wpex-icon-legal:before {content: "";}
.wpex-icon-dashboard:before {content: "";}
.wpex-icon-comment-alt:before {content: "";}
.wpex-icon-comments-alt:before {content: "";}
.wpex-icon-bolt:before {content: "";}
.wpex-icon-sitemap:before {content: "";}
.wpex-icon-umbrella:before {content: "";}
.wpex-icon-paste:before {content: "";}
.wpex-icon-user-md:before {content: "";}