[class^="wpex-icon-"], [class*=" wpex-icon-"] {font-family: FontAwesome;font-style: normal;font-weight: normal;}
.btn.dropdown-toggle [class^="wpex-icon-"], .btn.dropdown-toggle [class*=" wpex-icon-"] {line-height: 1.4em;}
.wpex-icon-large {font-size: 1.3333em;}
.wpex-icon-glass {}
.wpex-icon-music {}
.wpex-icon-search {}
.wpex-icon-envelope {}
.wpex-icon-heart {}
.wpex-icon-star {}
.wpex-icon-star-empty {}
.wpex-icon-user {}
.wpex-icon-film {}
.wpex-icon-th-large {}
.wpex-icon-th {}
.wpex-icon-th-list {}
.wpex-icon-ok {}
.wpex-icon-remove {}
.wpex-icon-zoom-in {}
.wpex-icon-zoom-out {}
.wpex-icon-off {}
.wpex-icon-signal {}
.wpex-icon-cog {}
.wpex-icon-trash {}
.wpex-icon-home {}
.wpex-icon-file {}
.wpex-icon-time {}
.wpex-icon-road {}
.wpex-icon-download-alt {}
.wpex-icon-download {}
.wpex-icon-upload {}
.wpex-icon-inbox {}
.wpex-icon-play-circle {}
.wpex-icon-repeat {}
.wpex-icon-refresh {}
.wpex-icon-list-alt {}
.wpex-icon-lock {}
.wpex-icon-flag {}
.wpex-icon-headphones {}
.wpex-icon-volume-off {}
.wpex-icon-volume-down {}
.wpex-icon-volume-up {}
.wpex-icon-qrcode {}
.wpex-icon-barcode {}
.wpex-icon-tag {}
.wpex-icon-tags {}
.wpex-icon-book {}
.wpex-icon-bookmark {}
.wpex-icon-print {}
.wpex-icon-camera {}
.wpex-icon-font {}
.wpex-icon-bold {}
.wpex-icon-italic {}
.wpex-icon-text-height {}
.wpex-icon-text-width {}
.wpex-icon-align-left {}
.wpex-icon-align-center {}
.wpex-icon-align-right {}
.wpex-icon-align-justify {}
.wpex-icon-list {}
.wpex-icon-indent-left {}
.wpex-icon-indent-right {}
.wpex-icon-facetime-video {}
.wpex-icon-picture {}
.wpex-icon-pencil {}
.wpex-icon-map-marker {}
.wpex-icon-adjust {}
.wpex-icon-tint {}
.wpex-icon-edit {}
.wpex-icon-share {}
.wpex-icon-check {}
.wpex-icon-move {}
.wpex-icon-step-backward {}
.wpex-icon-fast-backward {}
.wpex-icon-backward {}
.wpex-icon-play {}
.wpex-icon-pause {}
.wpex-icon-stop {}
.wpex-icon-forward {}
.wpex-icon-fast-forward {}
.wpex-icon-step-forward {}
.wpex-icon-eject {}
.wpex-icon-chevron-left {}
.wpex-icon-chevron-right {}
.wpex-icon-plus-sign {}
.wpex-icon-minus-sign {}
.wpex-icon-remove-sign {}
.wpex-icon-ok-sign {}
.wpex-icon-question-sign {}
.wpex-icon-info-sign {}
.wpex-icon-screenshot {}
.wpex-icon-remove-circle {}
.wpex-icon-ok-circle {}
.wpex-icon-ban-circle {}
.wpex-icon-arrow-left {}
.wpex-icon-arrow-right {}
.wpex-icon-arrow-up {}
.wpex-icon-arrow-down {}
.wpex-icon-share-alt {}
.wpex-icon-resize-full {}
.wpex-icon-resize-small {}
.wpex-icon-plus {}
.wpex-icon-minus {}
.wpex-icon-asterisk {}
.wpex-icon-exclamation-sign {}
.wpex-icon-gift {}
.wpex-icon-leaf {}
.wpex-icon-fire {}
.wpex-icon-eye-open {}
.wpex-icon-eye-close {}
.wpex-icon-warning-sign {}
.wpex-icon-plane {}
.wpex-icon-calendar {}
.wpex-icon-random {}
.wpex-icon-comment {}
.wpex-icon-magnet {}
.wpex-icon-chevron-up {}
.wpex-icon-chevron-down {}
.wpex-icon-retweet {}
.wpex-icon-shopping-cart {}
.wpex-icon-folder-close {}
.wpex-icon-folder-open {}
.wpex-icon-resize-vertical {}
.wpex-icon-resize-horizontal {}
.wpex-icon-bar-chart {}
.wpex-icon-twitter-sign {}
.wpex-icon-facebook-sign {}
.wpex-icon-camera-retro {}
.wpex-icon-key {}
.wpex-icon-cogs {}
.wpex-icon-comments {}
.wpex-icon-thumbs-up {}
.wpex-icon-thumbs-down {}
.wpex-icon-star-half {}
.wpex-icon-heart-empty {}
.wpex-icon-signout {}
.wpex-icon-linkedin-sign {}
.wpex-icon-pushpin {}
.wpex-icon-external-link {}
.wpex-icon-signin {}
.wpex-icon-trophy {}
.wpex-icon-github-sign {}
.wpex-icon-upload-alt {}
.wpex-icon-lemon {}
.wpex-icon-phone {}
.wpex-icon-check-empty {}
.wpex-icon-bookmark-empty {}
.wpex-icon-phone-sign {}
.wpex-icon-twitter {}
.wpex-icon-facebook {}
.wpex-icon-github {}
.wpex-icon-unlock {}
.wpex-icon-credit-card {}
.wpex-icon-rss {}
.wpex-icon-hdd {}
.wpex-icon-bullhorn {}
.wpex-icon-bell {}
.wpex-icon-certificate {}
.wpex-icon-hand-right {}
.wpex-icon-hand-left {}
.wpex-icon-hand-up {}
.wpex-icon-hand-down {}
.wpex-icon-circle-arrow-left {}
.wpex-icon-circle-arrow-right {}
.wpex-icon-circle-arrow-up {}
.wpex-icon-circle-arrow-down {}
.wpex-icon-globe {}
.wpex-icon-wrench {}
.wpex-icon-tasks {}
.wpex-icon-filter {}
.wpex-icon-briefcase {}
.wpex-icon-fullscreen {}
.wpex-icon-group {}
.wpex-icon-link {}
.wpex-icon-cloud {}
.wpex-icon-beaker {}
.wpex-icon-cut {}
.wpex-icon-copy {}
.wpex-icon-paper-clip {}
.wpex-icon-save {}
.wpex-icon-sign-blank {}
.wpex-icon-reorder {}
.wpex-icon-list-ul {}
.wpex-icon-list-ol {}
.wpex-icon-strikethrough {}
.wpex-icon-underline {}
.wpex-icon-table {}
.wpex-icon-magic {}
.wpex-icon-truck {}
.wpex-icon-pinterest {}
.wpex-icon-pinterest-sign {}
.wpex-icon-google-plus-sign {}
.wpex-icon-google-plus {}
.wpex-icon-money {}
.wpex-icon-caret-down {}
.wpex-icon-caret-up {}
.wpex-icon-caret-left {}
.wpex-icon-caret-right {}
.wpex-icon-columns {}
.wpex-icon-sort {}
.wpex-icon-sort-down {}
.wpex-icon-sort-up {}
.wpex-icon-envelope-alt {}
.wpex-icon-linkedin {}
.wpex-icon-undo {}
.wpex-icon-legal {}
.wpex-icon-dashboard {}
.wpex-icon-comment-alt {}
.wpex-icon-comments-alt {}
.wpex-icon-bolt {}
.wpex-icon-sitemap {}
.wpex-icon-umbrella {}
.wpex-icon-paste {}
.wpex-icon-user-md {}