header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.headerLogo {
    max-width: 40%;
}

.headerTextContainer {
    display: flex;
    flex-direction: column;

    font-size: x-small;

    gap: 0.5rem;
    align-items: flex-end;
}

h1 {
    margin: 0;
}

@media only screen and (max-width: 960px) {
    header {
        flex-direction: column;
        padding: 1rem;
    }
    .headerLogo {
        width: 100%;
        max-width: unset;
    }
    .headerTextContainer {
        gap: 1rem;
        align-items: center;
    }
}