html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: "";content: none;}
table {border-collapse: collapse;border-spacing: 0;}
.outerbox {width: 1000px;margin: 0 auto;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
.remove-margin {margin-right: 0 !important;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clear {clear: both;}
.grid-container {position: relative;margin-right: -25px;}
.container {padding: 15px;background: #fff;}
.no-right-margin {margin-right: 0;}
.no-btm-margin {margin-bottom: 0;}
.float-left {float: left;}
.float-right {float: right;}
blockquote {border-left: double #ddd;font-size: 18px;line-height: 1.5em;margin: 30px 25px;padding-left: 25px;font-family: "Droid Serif",Georgia,Times New Roman,Times,serif;font-style: italic;color: #999;}
blockquote p:last-child {margin: 0;}
pre {background: #fff url("images/pre-bg.png") repeat;margin: 20px 0px;padding: 25px 20px;line-height: 25px;border: 1px solid #ddd;white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -pre-wrap;white-space: -o-pre-wrap;word-wrap: break-word;}
address {letter-spacing: 1px;margin: 20px 0;}
.sticky {}
.gallery-caption {}
.bypostauthor {}
body {background: #000;nowhitespace: afterproperty;font: 13px/1.7 "Open Sans",Helvetica,Arial,sans-serif;color: #777;-webkit-font-smoothing: antialiased;-webkit-text-size-adjust: 100%;}
body a {color: #ed4555;}
body a:hover {text-decoration: none;color: #ed4555;}
#wrap {background: #ddd url("images/mainbg.png") repeat;}
#main-content {padding: 20px 0;}
#post {float: left;width: 660px;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
#post img {max-width: 100%;}
#sidebar {width: 320px;}
#wpex-grid-wrap {margin-right: -20px;}
.entry ul {list-style-image: url("images/bullets-gray.png");margin-left: 16px;margin-bottom: 20px;}
.entry ul li {padding-left: 4px;margin-bottom: 5px;}
.entry ol {margin-left: 16px;margin-bottom: 20px;}
.entry ol li {padding-left: 4px;margin-bottom: 5px;}
.entry p:last-child {margin: 0;}
.entry a:hover {text-decoration: underline;color: #ed4555;}
.entry a:link {text-decoration: underline;color: #ed4555;}
.entry a:visited {text-decoration: underline;color: #ed4555;}
.entry .wpex-icon-link {text-decoration: none !important;}
.entry b {font-weight: bold;}
img {max-width: 100%;}
body.no-sidebar #post {width: 100% !important;}
body.no-sidebar #author-bio {width: 880px;}
h1, h2, h3, h4, h5, h6 {color: #000;font-weight: 400;text-transform: uppercase;}
h2, h3, h4, h5, h6 {margin: 30px 0 20px;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color: #000;}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {color: #ed4555;}
h1 {font-size: 24px;margin: 0 0 20px;}
h2 {font-size: 18px;font-weight: bold;}
h3 {font-size: 16px;}
h4 {font-size: 14px;}
h5 {font-size: 12px;}
h6 {font-size: 11px;}
p {margin: 0 0 20px;}
p img {margin: 0;}
em {font-style: italic;}
strong {font-weight: bold;}
small {font-size: 80%;}
hr {border: solid rgba(0,0,0,.2);border-width: 1px 0 0;clear: both;margin: 10px 0 30px;height: 0;}
p a, p a:visited {line-height: inherit;}
a:link {text-decoration: none;}
a:focus {outline: 0;}
a {outline: 0;}
p a, p a:visited {line-height: inherit;}
a:link {text-decoration: none;}
a:focus {outline: 0;}
ul {list-style: none outside;}
ol {list-style: decimal;}
ol, ul.square, ul.circle, ul.disc {margin-left: 30px;}
ul.square {list-style: square outside;}
ul.circle {list-style: circle outside;}
ul.disc {list-style: disc outside;}
ul ul, ul ol, ol ol, ol ul {margin: 4px 0 5px 30px;}
ul ul li, ul ol li, ol ol li, ol ul li {margin-bottom: 6px;}
#page-heading {position: relative;margin-bottom: 30px;text-align: center;}
#page-heading h1, #page-heading h2 {font-size: 21px;line-height: 1.2em;margin: 5px 0 0;padding: 0 40px;background: url("images/dots-dark.png") repeat;font-weight: 300;}
#page-heading h1 span, #page-heading h2 span {background: #fff;padding: 5px 25px;}
#single-heading {position: relative;padding-bottom: 10px;margin-bottom: 15px;background: url("images/dots.png") left bottom repeat-x;}
#single-heading h1 {font-size: 21px;line-height: 1.2em;margin: 0px;font-weight: 600;}
#related-heading {margin: 60px 0 40px;text-align: center;}
#related-heading h4 {font-size: 21px;line-height: 1.2em;margin: 0px;padding: 0 40px;background: url("images/dots-dark.png") repeat;font-weight: 300;}
#related-heading h4 span {background: #fff;padding: 5px 25px;}
#header-wrap {z-index: 999;width: 100%;background: #fff;border-bottom: 1px solid #999;-webkit-box-shadow: 0px 0px 25px rgba(0,0,0,.4);-moz-box-shadow: 0px 0px 25px rgba(0,0,0,.4);box-shadow: 0px 0px 25px rgba(0,0,0,.4);}
#header-top {position: relative;}
#page-featured-img {padding: 7px;margin-bottom: 30px;}
#page-featured-img img {display: block;width: 100%;}
#logo {padding: 27px 0;}
#logo a {display: block;float: left;margin: 0px;text-decoration: none;}
#logo img {display: block;max-width: 100%;}
#logo h1, #logo h2 {float: left;background: #000;padding: 15px;font-weight: 600;margin: 0;line-height: 21px;font-size: 21px;color: #fff;font-family: "Droid Serif";-webkit-transition: all .1s ease-in-out;-moz-transition: all .1s ease-in-out;-o-transition: all .1s ease-in-out;transition: all .1s ease-in-out;}
#logo h1:hover, #logo h2:hover {background: #ed4555;}
#navigation {height: 55px;border-top: 1px dotted #bbb;position: relative;}
.sf-menu, .sf-menu * {margin: 0;padding: 0;list-style: none;}
.sf-menu {line-height: 1;}
.sf-menu ul {position: absolute;top: -999em;width: 180px;}
.sf-menu ul li {width: 100%;}
.sf-menu li:hover {visibility: inherit;}
.sf-menu li {float: left;position: relative;}
.sf-menu a {display: block;position: relative;}
.sf-menu li:hover ul, .sf-menu li.sfHover ul {left: 0px;top: 55px;z-index: 99;}
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul {top: -999em;}
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {left: 180px;top: 0px;}
#navigation .sf-menu > li:hover > ul, .sf-menu li.sfHover > ul {top: 54px;}
#navigation ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul, ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {left: 190px;top: 0px;}
#navigation .sf-menu {float: left;border-right: 1px solid rgba(255,255,255,.1);}
#navigation .sf-menu a {display: block;position: relative;font-size: 13px;height: 55px;line-height: 55px;color: #000;padding: 0;text-decoration: none;font-weight: normal;text-transform: uppercase;border-bottom: 4px solid transparent;border-right: 4px solid transparent;border-left: 4px solid transparent;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
#navigation .sf-menu > li {display: block;padding-right: 13px;margin-right: 10px;background: url("images/nav-dots.png") center right no-repeat;}
#navigation .sf-menu li {float: left;position: relative;}
#navigation .sf-menu > li > a:hover, #navigation .sf-menu > li.sfHover > a {color: #999;}
#navigation .sf-menu > .current-menu-item > a, #navigation .sf-menu > .current-menu-parent > a {color: #000;border-bottom-color: #21262c;}
#navigation .sf-menu ul {position: absolute;nowhitespace: afterproperty;top: -999em;width: 190px;padding-top: 1px;}
#navigation .sf-menu ul li:last-child {border-bottom: 0;}
#navigation .sub-menu ul {padding-top: 0;z-index: 1 !important;}
#navigation .sf-menu .sub-menu li.current_page_item > a {color: #222;}
#navigation li.sfHover {color: #000;}
#navigation .sf-menu ul ul:after {display: none;}
#navigation .sf-menu ul li {border-bottom: 1px solid #222;background: #000;}
#navigation .sf-menu ul a {color: #888;padding: 10px 15px;height: auto;margin: 0px;border: 0px;line-height: 1.6em;font-size: 11px;-webkit-transition: all .1s ease-in-out;-moz-transition: all .1s ease-in-out;-o-transition: all .1s ease-in-out;transition: all .1s ease-in-out;}
#navigation .sf-menu ul li > a:hover {color: #ed4555;}
#navigation .sf-menu ul li:last-child {border: none !important;}
#navigation .sub-menu li {border-left: none !important;border-right: none !important;}
.entry-top {margin-bottom: 20px;}
.entry-bottom {}
.loop-entry {position: relative;display: block;width: 320px;float: left;margin-right: 20px;margin-bottom: 20px;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;border: 1px solid transparent;text-align: center;font-size: 12px;overflow: hidden;-webkit-transition-property: border;-moz-transition-property: border;-ms-transition-property: border;-o-transition-property: border;transition-property: border;-webkit-transition-duration: .25s;-moz-transition-duration: .25s;-ms-transition-duration: .25s;-o-transition-duration: .25s;transition-duration: .25s;}
.loop-entry:hover {border: 1px solid #bbb;}
.loop-entry h2 {margin: 0 0 5px;font-size: 14px;line-height: 1.6em;font-weight: 600;text-transform: uppercase;text-align: center;}
.loop-entry p:last-child {margin: 0;}
.loop-entry-img-link {display: block;width: 100%;margin: 0 0 20px;position: relative;-webkit-transition: background 25s ease-out;-moz-transition: background 25s ease-out;-o-transition: background 25s ease-out;transition: background 25s ease-out;background: #000;}
.loop-entry-img-link:hover .entry-overlay {display: block;-webkit-transition-property: all;-moz-transition-property: all;-ms-transition-property: all;-o-transition-property: all;transition-property: all;-webkit-transition-duration: .25s;-moz-transition-duration: .25s;-ms-transition-duration: .25s;-o-transition-duration: .25s;transition-duration: .25s;}
.loop-entry-img-link img {display: block;width: 100%;}
.loop-entry img {display: block;width: 100%;-webkit-transition-property: opacity;-moz-transition-property: opacity;-ms-transition-property: opacity;-o-transition-property: opacity;transition-property: opacity;-webkit-transition-duration: .25s;-moz-transition-duration: .25s;-ms-transition-duration: .25s;-o-transition-duration: .25s;transition-duration: .25s;box-shadow: #000 0em 0em 0em;}
.loop-entry-img-link:hover img {opacity: .5;-moz-opacity: .5;-webkit-opacity: .5;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter: alpha(opacity=50);}
.post-video {margin: 0 0 20px;}
.loop-entry-meta {margin-top: 15px;padding-top: 15px;border-top: 1px solid #e6e6e6;font-size: 10px;text-transform: uppercase;}
.loop-entry-meta li {display: inline;margin-right: 10px;color: #999;}
.loop-entry-meta li:last-child {margin-right: 0;}
.loop-entry-meta li span.wpex-icon-comment, .loop-entry-meta li span.wpex-icon-calendar, span.wpex-icon-link {margin-right: 5px;}
.loop-entry-meta a {color: #999;}
.loop-entry .flexslider-container {margin-bottom: 20px;}
.format-audio .loop-entry-img-link {margin-bottom: 0;}
.entry-overlay {display: none;font-size: 16px;height: 40px;line-height: 40px;width: 40px;text-align: center;color: #fff;opacity: .8;position: absolute;top: 50%;margin-top: -20px;left: 50%;margin-left: -20px;-webkit-transition: all .25s ease-in-out;-moz-transition: all .25s ease-in-out;-o-transition: all .25s ease-in-out;transition: all .25s ease-in-out;}
.entry-quote, #single-quote {text-align: center;background: #000;padding: 15px;color: #fff;font-weight: normal;font-size: 21px;font-style: italic;font-family: "Droid Serif";border-color: #000 !important;}
.entry-quote p:last-child, #single-quote p:last-child {margin: 0;}
.entry-quote-author, #single-quote-author {margin-top: -10px;font-size: 12px;font-weight: normal;color: #666;}
#single-quote {margin: -15px;}
.loop-entry iframe, .loop-entry embed {max-width: 100%;height: auto;}
#single-media-wrap {text-align: center;}
#post-thumbnail img {display: block;max-width: 100%;}
#post-thumbnail {display: block;margin-bottom: 20px;}
#post-thumbnail img:hover {opacity: .7;-moz-opacity: .7;-webkit-opacity: .7;}
#post-thumbnail.audio-thumb {display: block;margin-bottom: 0;width: 100%;}
.post-tags {margin-top: 40px;}
.post-tags a {display: block;float: left;padding: 4px 8px;background: #f5f5f5;color: #666;margin-right: 5px;margin-bottom: 5px;font-size: 11px;font-weight: 600;-webkit-transition: all .1s ease-in-out;-moz-transition: all .1s ease-in-out;-o-transition: all .1s ease-in-out;transition: all .1s ease-in-out;}
.post-tags a:hover {background: #000;color: #fff;}
#single-author {margin-top: 25px;padding-top: 25px;background: url("images/dots.png") left top repeat-x;}
#author-image {float: left;width: 70px;}
#author-image img {display: block;border: 5px solid #eee;}
#author-bio {float: right;width: 550px;}
#author-bio h4 {font-size: 14px;margin: -3px 0 5px;}
#author-bio p:last-child {margin: 0;}
#single-share {margin-top: 25px;padding-top: 25px;background: url("images/dots.png") left top repeat-x;}
#single-share h4 {text-align: center;margin: 0 0 20px;}
#single-share h4 span {margin-right: 10px;background: #f30;color: #fff;padding: 0 5px;font-size: 12px;}
.share-btns {margin: 1em 0;text-align: center;}
.share-btns > .twitter-count-horizontal {width: 95px !important;}
.share-btns .twitter-count-vertical {margin-right: 10px;}
.share-btns > div {width: 88px !important;}
.share-btns > div.fb_edge_widget_with_comment {top: -3px;width: 90px !important;}
.share-btns div[data-action="recommend"] {width: auto !important;}
.share-btns p, .share-btns span {display: inline;margin: 0;padding: 0;}
.share-btns br {display: none;}
#related-posts {margin-top: 25px;}
.meta {margin-top: 15px;text-transform: uppercase;font-size: 10px;}
.meta li {display: inline;margin-right: 10px;color: #999;}
.meta li:last-child {margin-right: 0;}
.meta .wpex-icon-comment, .meta .wpex-icon-link, .meta .wpex-icon-user, .meta .wpex-icon-calendar, .meta .wpex-icon-folder-open {margin-right: 5px;}
.meta a {color: #999;}
.page-wpex_paginate_pages {margin: 20px 0 0;text-align: center;padding-top: 30px;background: url("images/dots-dark.png") center top repeat-x;}
.page-of-page {padding: 0 7px;}
.page-of-page, .page-wpex_paginate_pages a, .page-wpex_paginate_pages span.outer {display: inline-block;font-size: 11px;line-height: 24px;height: 24px;text-align: center;margin-right: 5px;margin-bottom: 5px;color: #666;border: 1px solid #ddd;background: #f9f9f9;-webkit-transition: all .1s ease-in-out;-moz-transition: all .1s ease-in-out;-o-transition: all .1s ease-in-out;transition: all .1s ease-in-out;}
.page-wpex_paginate_pages a, .page-wpex_paginate_pages span.outer {width: 24px;}
.page-wpex_paginate_pages a:hover {background: #000;border-color: #000;color: #fff;}
.page-wpex_paginate_pages span.current {text-decoration: none;background: #000;border-color: #000;color: #fff;}
#single-nav {margin-top: 25px;}
#single-nav-left, #single-nav-right {float: left;max-width: 48%;}
#single-nav-right {float: right;}
#single-nav a {font-size: 12px;font-weight: 600;display: block;padding: 5px 15px;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;text-align: center;color: #666;color: #fff;text-shadow: none;background: #000;}
#single-nav-left span {margin-right: 10px;margin-top: 1px;}
#single-nav-right span {margin-left: 10px;margin-top: 1px;}
#single-nav a:hover {text-decoration: none;background: #fff;color: #444;}
#sidebar {float: right;color: #6f6f6f;font-size: 12px;overflow: hidden;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
#sidebar a {color: #777;}
#sidebar a:hover {color: #333;}
#sidebar h4 {font-size: 13px;margin: 0 0 15px;font-weight: 600;text-transform: uppercase;background: url("images/dots.png") center center repeat-x;}
#sidebar h4 span {background: #fff;padding-right: 10px;}
.sidebar-box {margin-bottom: 25px;}
.sidebar-box ul {margin: 0;padding: 0;}
#sidebar .sidebar-box:last-child {margin: 0;}
.widget_nav_menu li, .widget_recent_entries li, .widget_categories li, .widget_archive a, widget_meta li, .wpex-taxonomies-widget li, .tagcloud li, .wpex-recent-post-types-widget li, .wpex-tax-widget li {background: url("images/double-arrow-right.png") left center no-repeat;padding-left: 15px;}
#footer .widget_nav_menu li, #footer .widget_recent_entries li, #footer .widget_categories li, #footer .widget_archive a, widget_meta li, #footer .wpex-taxonomies-widget li, #footer .tagcloud li, #footer .wpex-recent-post-types-widget li, #footer .wpex-tax-widget li {border-bottom: 1px solid #222;margin-bottom: 7px;padding-bottom: 7px;}
.tagcloud a {float: left;display: block;font-weight: normal;font-size: 11px !important;line-height: 1em !important;margin-bottom: 8px;margin-right: 8px;padding: 7px 10px;background: #f0f0f0;-webkit-transition: all .1s ease-in-out;-moz-transition: all .1s ease-in-out;-o-transition: all .1s ease-in-out;transition: all .1s ease-in-out;}
#sidebar .tagcloud a, #footer .tagcloud a {color: #888;}
#sidebar .tagcloud a:hover {background: #000 !important;color: #fff;}
#footer .tagcloud a:hover {background: #222;color: #fff;}
#sidebar .tagcloud a {background: #f5f5f5;}
#sidebar .tagcloud a:hover {background: #eee;}
#wp-calendar {font-size: 11px;}
#wp-calendar caption {background: #fff;padding: 8px;text-align: center;font-weight: normal;border: 1px solid #ddd;color: #000;text-transform: uppercase;}
#wp-calendar, #footer #wp-calendar tr {width: 100%;}
#wp-calendar th {text-align: center;border: 1px solid #ddd;border-top: none;padding: 5px 0;background: #fff;}
#wp-calendar tbody td {padding: 4px 0;text-align: center;border: 1px solid #eee;}
#wp-calendar tbody td:hover {background: #f5f5f5;color: #000;}
#wp-calendar tbody a {display: block;}
#sidebar #wp-calendar a:hover {text-decoration: underline;}
#footer #wp-calendar caption {color: #fff;}
#wp-calendar tbody td {padding: 4px 0;text-align: center;border: 1px solid #eee;}
#wp-calendar tfoot td {padding-top: 5px;}
.wpex-flickr-widget a {float: left;display: block;-webkit-transition: border .2s ease-in-out;-moz-transition: border .2s ease-in-out;-o-transition: border .2s ease-in-out;-ms-transition: border .2s ease-in-out;transition: border .2s ease-in-out;}
.wpex-flickr-widget img {display: block;opacity: .7;box-shadow: #000 0em 0em 0em;}
.wpex-flickr-widget img:hover {opacity: 1;-moz-opacity: 1;-webkit-opacity: 1;}
#sidebar .wpex-flickr-widget {margin-right: -11px;margin-top: -8px;}
#sidebar .wpex-flickr-widget a {margin-right: 11px;margin-top: 11px;border: 5px solid #e6e6e6;width: 53px;height: 53px;}
#footer .wpex-flickr-widget {margin-right: -8px;margin-top: -8px;}
#footer .wpex-flickr-widget a {margin-right: 8px;margin-top: 8px;border: 5px solid #222;width: 58px;height: 58px;}
#footer .wpex-flickr-widget a:hover {border-color: #fff;}
.wpex-video-widget-description {margin-top: 10px;text-align: center;}
.wpex-video-widget-description p:last-child {margin: 0;}
.wpex-widget-recent-posts {line-height: 1.5em;margin: 0;}
#sidebar .wpex-widget-recent-posts a {color: #444;}
#sidebar .wpex-widget-recent-posts a:hover {color: #ed4555;}
.wpex-widget-recent-posts li {padding-bottom: 15px;margin-bottom: 15px;border-bottom: 1px solid #eee;}
.wpex-widget-recent-posts li:last-child {margin: 0;padding: 0;border: none;}
.wpex-widget-recent-posts img {float: left;transition: all .25s ease;-webkit-transition: all .25s ease;-o-transition: all .25s ease;-moz-transition: all .25s ease;border: 5px solid #f7f7f7;max-width: 30%;}
.wpex-widget-recent-posts img:hover {border-color: #ed4555;}
.wpex-widget-recent-posts .recent-right {float: right;width: 185px;}
.wpex-widget-recent-posts li .title {font-weight: 600;display: block;margin-bottom: 5px;text-transform: uppercase;}
.wpex-widget-recent-posts li .date, .wpex-widget-recent-posts li .cat, .wpex-widget-recent-posts li .likes {font-size: 10px;color: #999;text-transform: uppercase;}
.wpex-widget-recent-posts li .date span, .wpex-widget-recent-posts li .cat span {margin-right: 5px;}
#footer .wpex-widget-recent-posts li .title {color: #eee;}
#footer .wpex-widget-recent-posts li a.title:hover {color: #ed4555;}
#footer .wpex-widget-recent-posts li {border-color: #222;}
#footer .wpex-widget-recent-posts .recent-right {width: 200px;}
#footer .wpex-widget-recent-posts img {border-color: #222;-moz-box-shadow: 0 0 10px rgba(0,0,0,.2);-webkit-box-shadow: 0 0 10px rgba(0,0,0,.2);opacity: .7;-webkit-opacity: .7;-moz-opacity: .7;}
#footer .wpex-widget-recent-posts img:hover {border-color: #fff;opacity: 1;-webkit-opacity: 1;-moz-opacity: 1;}
#footer-wrap {background: #111 url("images/footer.png");}
#footer {color: #666;position: relative;font-size: 13px;padding: 60px 0 20px;overflow: hidden;}
#footer a {color: #999;}
#footer a:hover {color: #ed4555;}
#footer ul {margin: 0;}
.footer-box {width: 304px;float: left;margin-right: 44px;}
.footer-box.remove-margin {margin-right: 0;}
.footer-widget {margin-bottom: 40px;}
.footer-widget h4 {color: #fff;font-size: 14px;font-weight: bold;margin: 0 0 25px;}
#footer-bottom {background: #000;font-size: 11px;font-weight: bold;}
#footer-bottom .outerbox {position: relative;padding: 20px 0;}
#footer-bottom a {color: #999;}
#footer-bottom a:hover {color: #fff;}
#copyright {font-size: 11px;}
#copyright {float: left;width: 50%;}
.footer-menu {float: right;width: 50%;text-align: right;}
.footer-menu li {display: inline;margin: 0;font-weight: normal;}
.footer-menu a {display: inline;display: inline;font-size: 11px;padding-right: 10px;margin-right: 5px;background: url("images/footer-menu-divider.png") no-repeat center right;}
.footer-menu li:last-child a {margin: 0;padding: 0;background: none;}
#toplink {display: none;position: fixed;bottom: 20px;right: 20px;width: 30px;height: 30px;line-height: 28px;text-align: center;background: #333;color: #fff;font-size: 18px;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;opacity: .8;-moz-opacity: .8;-webkit-opacity: .8;}
#toplink:hover {opacity: 1;-moz-opacity: 1;-webkit-opacity: 1;}
#header-social {position: absolute;right: 0;top: 50%;margin-top: -13px;list-style: none;}
#header-social li {display: inline-block;margin-left: 7px;}
#header-social a {display: block;float: left;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
#header-social a img {height: 26px;width: 26px;display: block;-moz-opacity: .7;-khtml-opacity: .7;opacity: .7;}
#header-social a:hover img {-moz-opacity: 1;-khtml-opacity: 1;opacity: 1;}
.tipsy {padding: 5px;font-size: 10px;letter-spacing: 1px;text-transform: uppercase;background-repeat: no-repeat;background-image: url("images/tipsy.gif");}
.tipsy-inner {padding: 5px 8px 4px 8px;background-color: #000;color: white;max-width: 200px;text-align: center;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.tipsy-inner {-moz-border-radius: 3px;-webkit-border-radius: 3px;}
.tipsy-south {background-position: bottom center;}
input[type="search"] {background: #fafafa;border: 1px solid #fafafa;color: #666;font-family: "Droid Serif",Helvetica,Arial;font-size: 11px;padding: 10px;width: 100%;-o-transition: background .3s ease-in-out;-o-transition: all .2s ease-in-out;transition: background .3s ease-in-out;transition: all .2s ease-in-out;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;-webkit-appearance: none;outline: none;margin: 0;font-style: italic;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;}
input[type="search"]:focus {border-color: #ddd;}
input[type="search"]::-webkit-search-decoration {display: none;}
input[type="search"]::-webkit-search-cancel-button {-webkit-appearance: none;}
#navigation input[type="search"] {position: absolute;right: 0;top: 50%;margin-top: -15px;width: 175px;padding: 0 16px 0 40px;height: 30px;line-height: 30px;border: none;background: #fff url("./images/left-slant.png") left center no-repeat;color: #fff;-webkit-appearance: none;-moz-border-radius: 0;-khtml-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;}
#navigation input[type="search"]:focus {width: 190px;}
#navigation #searchbar #searchsubmit {position: absolute;right: 15px;top: 50%;margin-top: -5px;background: url("images/search-white.png") no-repeat;text-indent: -9999px;border: none;border: 0;outline: none;width: 9px;height: 10px;cursor: pointer;padding: 0;}
#sidebar #searchbar #searchsubmit, #footer #searchbar #searchsubmit {display: none;}
input[type="text"], input[type="password"] {height: 28px;line-height: 28px;}
input[type="text"], input[type="password"], textarea {background: #f9f9f9;color: #666;display: block;font-size: 12px;margin-left: 0;padding: 0 10px;border: 1px solid #fafafa;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;max-width: 100%;-webkit-appearance: none;-webkit-transition: all .25s ease-in-out;-moz-transition: all .25s ease-in-out;-o-transition: all .25s ease-in-out;}
textarea {width: 100%;padding: 10px;font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,sans-serif;}
input[type="text"], input[type="password"] {width: 200px;}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,sans-serif;outline: none;border-color: #ddd;}
.entry .wpcf7-form {margin-top: 40px;}
.wpcf7-form p {font-size: 11px;color: #999;text-transform: uppercase;}
.entry button, .entry input[type="button"], .entry input[type="submit"], #commentsbox input[type="submit"] {display: block;padding: 0 12px;height: 35px;line-height: 35px;text-decoration: none;border: 1px solid #d4d4d4;font-size: 12px;cursor: pointer;font-family: inherit;color: #444;font-weight: 600;-moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;background: #f7f7f7;background: -moz-linear-gradient(top,#fefefe 0%,#f7f7f7 100%);background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fefefe),color-stop(100%,#f7f7f7));background: -webkit-linear-gradient(top,#fefefe 0%,#f7f7f7 100%);background: -o-linear-gradient(top,#fefefe 0%,#f7f7f7 100%);background: -ms-linear-gradient(top,#fefefe 0%,#f7f7f7 100%);background: linear-gradient(to bottom,#fefefe 0%,#f7f7f7 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fefefe",endColorstr="#f7f7f7",GradientType=0);-webkit-box-shadow: 0px 1px 6px rgba(0,0,0,.1);-moz-box-shadow: 0px 1px 6px rgba(0,0,0,.1);box-shadow: 0px 1px 6px rgba(0,0,0,.1);}
.entry button:hover, .entry input[type="button"]:hover, .entry input[type="submit"]:hover, #commentsbox input[type="submit"]:hover {border-color: #bbb;}
.entry button:active, .entry input[type="button"]:active, .entry input[type="submit"]:active, #commentsbox input[type="submit"]:active {background: #fefefe;background: -moz-linear-gradient(top,#f7f7f7 0%,#fefefe 100%);background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f7f7f7),color-stop(100%,#fefefe));background: -webkit-linear-gradient(top,#f7f7f7 0%,#fefefe 100%);background: -o-linear-gradient(top,#f7f7f7 0%,#fefefe 100%);background: -ms-linear-gradient(top,#f7f7f7 0%,#fefefe 100%);background: linear-gradient(to bottom,#f7f7f7 0%,#fefefe 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7",endColorstr="#fefefe",GradientType=0);}
#commentsbox {margin-top: 30px;}
#comments h3 {margin: 0 0 15px;font-size: 16px;background: url("images/dots.png") center center repeat-x;}
#comments h3 span {background: #fff;padding-right: 20px;display: inline-block;}
.comment-details ul {margin: 0;}
.comment-details ul li {border-bottom: 1px solid rgba(0,0,0,.1);padding-bottom: 8px;padding-top: 8px;}
.comment-details ul li:first-child {border-top: 1px solid rgba(0,0,0,.1);}
.commentlist {margin: 0;}
.commentlist li {list-style: none;margin: 0;}
.children li.depth-2 {margin: 0 0 0px 65px;}
.children li.depth-3 {margin: 0 0 0px 65px;}
.children li.depth-4 {margin: 0 0 0px 65px;}
.children li.depth-5 {margin: 0 0 0px 65px;}
.children li.depth-6 {margin: 0 0 0px 65px;}
.children li.depth-7 {margin: 0 0 0px 65px;}
.children li.depth-8 {margin: 0 0 0px 65px;}
.children li.depth-9 {margin: 0 0 0px 65px;}
.children li.depth-10 {margin: 0 0 0px 65px;}
.comment-body {margin-bottom: 25px;}
.comment-details {position: relative;margin-left: 90px;background: #fafafa;padding: 15px;text-shadow: 1px 1px 1px #fff;}
.comment-details:after {content: "";display: block;width: 20px;height: 20px;position: absolute;top: 0;left: -20px;background: url("images/comment-triangle.png") no-repeat;}
.comment-avatar {position: absolute;left: -90px;top: 0;}
.comment-avatar img {display: block;border: 5px solid #f1f1f1;}
.comment-author .author a:link, .comment-author .author a:visited {color: #000;font-weight: normal;text-transform: uppercase;}
.comment-author .author a:hover {color: #999;}
.comment-content {margin-top: 5px;}
.comment-content p:last-child {margin: 0;}
.comment-date {font-size: 11px;font-weight: normal;}
.comment-date a {color: #888;}
.comment-reply-link {margin-top: 15px;color: #444;font-size: 11px;}
.comment-reply-link, #cancel-comment-reply-link {display: inline-block;font-size: 11px;}
#cancel-comment-reply-link, h3#reply-title {color: #c30;font-size: 12px;text-transform: none;background: none !important;}
#cancel-comment-reply-link {margin: -25px 0 0;}
.comment-reply-link:hover, #cancel-comment-reply-link:hover {color: #000;}
.commentlist .children {margin: 0;}
#comments-title {border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;padding-top: 10px;padding-bottom: 10px;margin-top: 30px;background: #fbfbfb;text-align: center;color: #222;}
#comments_wrap {margin-top: 15px;}
#comments-logged-in {margin-bottom: 30px;margin-top: 10px;font-size: 12px;}
#log-out {float: right;margin-top: -56px;}
#cancel-comment-reply {float: right;margin-top: 5px;}
#submit {margin-bottom: 0;}
h3#reply-title {font-size: 16px;margin-bottom: 15px;}
.children #commentform textarea {width: 95.6%;}
#commentform label {font-size: 12px;font-weight: 600;display: block;float: left;height: 28px;line-height: 28px;width: 60px;text-align: left;}
#commentsbox span.required {color: #c30;font-size: 9px;}
#commentform input {margin-top: 0 !important;}
#commentform input#author, #commentform input#email, #commentform input#url {font-size: 13px;width: 40%;margin-top: 10px;}
#commentform textarea {font-size: 13px;width: 100%;margin-top: 10px;}
.comment-subscription-form {font-size: 12px;margin-top: 20px;margin-bottom: 0px;}
.comment-subscription-form:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.comment-subscription-form input, .comment-subscription-form label {float: left;margin: 0px !important;margin-right: 5px !important;padding: 10px;}
#comment-left {float: left;width: 160px;padding-right: 35px;}
#comment-right {float: left;width: 445px;}
#sitemap-wrap ul {margin-bottom: 40px;margin-left: 0;}
#sitemap-wrap h2 {font-size: 14px;margin: 0 0 5px;margin-bottom: 10px;}
.sitemap-container a:hover {color: #000;text-decoration: none;}
#error-page {padding: 60px 0;}
#error-page-title {font-size: 32px;text-align: center;font-weight: bold;background: none;line-height: 1em;border: none;margin: 0 0 10px;color: #000;}
#error-page-title span {margin-right: 7px;}
#error-page-text {text-align: center;font-size: 11px;margin: 0;}
.alignleft, img.alignleft {display: inline;float: left;margin-right: 1.5em;}
.alignright, img.alignright {display: inline;float: right;margin-left: 1.5em;}
.aligncenter, img.aligncenter {clear: both;display: block;margin-left: auto;margin-right: auto;}
.floatleft {float: left;}
.floatright {float: right;}
.textcenter {text-align: center;}
.textright {text-align: right;}
.textleft {text-align: left;}
.wp-caption {max-width: 100% !important;}
.wp-caption {border: 1px solid #ddd;text-align: center;background-color: #f3f3f3;padding-top: 4px;margin: 10px;-moz-border-radius: 3px;-khtml-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;}
.wp-caption img {margin: 0;padding: 0;border: 0 none;}
.wp-caption p.wp-caption-text {font-size: 11px;line-height: 17px;padding: 0 4px 5px;margin: 0;}
.wp-smiley {margin: 0 !important;max-height: 1em;}
blockquote.left {margin-right: 20px;text-align: right;margin-left: 0;width: 33%;float: left;}
blockquote.right {margin-left: 20px;text-align: left;margin-right: 0;width: 33%;float: right;}
#img-attch-page {text-align: center;overflow: hidden;}
#img-attch-page img {display: inline-block;margin: 0 auto;max-width: 100%;margin-bottom: 20px;}
.gallery-item img {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
#load-more {background: #fff;border: 1px solid #fff;clear: both;width: 100%;text-align: center;-webkit-transition: all .1s ease-in-out;-moz-transition: all .1s ease-in-out;-o-transition: all .1s ease-in-out;transition: all .1s ease-in-out;}
#load-more a {display: block;padding: 10px 20px;color: #000;text-transform: uppercase;-webkit-transition: all .1s ease-in-out;-moz-transition: all .1s ease-in-out;-o-transition: all .1s ease-in-out;transition: all .1s ease-in-out;}
#load-more:hover a, #load-more a:hover {color: #ed4555;}
#load-more:hover {border-color: #bbb;}
.isotope {-webkit-transition-property: height,width;-moz-transition-property: height,width;-ms-transition-property: height,width;-o-transition-property: height,width;transition-property: height,width;-webkit-transition-duration: .8s;-moz-transition-duration: .8s;-ms-transition-duration: .8s;-o-transition-duration: .8s;transition-duration: .8s;}